<div class="container-fluid">
  <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Users List</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <button class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light"
        (click)="showPopUp()">Create

      </button>

      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li class="active">Users List</li>
      </ol>
      <button (click)="createPdf()">Create PDF</button>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">

        <div class="row">
          <div class="col-lg-3 col-3">
            <input type="text" class="form-control" placeholder="Search" name="Search" [(ngModel)]="searchText">
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Action</th>
                <th (click)="sortData('id','num')">Sr.No</th>
                <th (click)="sortData('asset','csstr')">Employee Code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>DateOfBirth</th>
                <th>Email</th>
                <th>MobileNo</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let contents of allContents | sort:sortConfig | filter:searchText | paginate: { currentPage: p , itemsPerPage: itemsPerPage};let i=index">
                <td>
                  <i class="fa fa-pencil" (click)="getContentById(contents.userId)"></i>&nbsp;&nbsp;
                  <i class="glyphicon glyphicon-remove" (click)="deleteContent(contents.userId)"></i>&nbsp;&nbsp;
                  <i class="glyphicon glyphicon-eye-open" (click)="viewGetById(contents.userId)"></i>

                </td>
                <!-- <td>{{i+1}}</td> -->
                <td>{{ itemsPerPage * (p - 1) + i + 1}}</td>
                <td>{{contents.empCode}}</td>
                <td>{{contents.firstName+' '+contents.lastName}}</td>
                <td [textContent]="contents.gender"></td>
                <td>{{contents.dateOfBirth | date}}</td>
                <td [innerHtml]="contents.email"></td>
                <td [innerText]="contents.mobileNumber"></td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>


<div class="modal" id="createReportModal" [class.in]="showPopUpValue" [class.show]="showPopUpValue">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header border">
        <h3 class="modal-title" *ngIf="showSaveButton">Create User </h3>
        <h3 class="modal-title" *ngIf="showupdateButton">Update User </h3>

      </div>

     <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-6">
            <label>EmployeeCode<label style="color: darkred;">*</label></label>
            <input type="text" class="form-control" name="empCode" id="empCode" [(ngModel)]="usersClass.empCode" (input)="getempCode(empCode.value,'empCode')" required  #empCode>
            <p *ngIf="emp" style="color: red;">EmployeeCode is required</p>       
 
          </div> 
          <div class="col-lg-6 col-6">
            <label for="sel1">FirstName</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="usersClass.firstName" (input)="getfName(firstName.value,'fname')" required  #firstName>
            <p *ngIf="fname" style="color: red;">FirstName is required</p>       

          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-6">
            <label>LastName</label>
            <input type="text" class="form-control" name="LastName" [(ngModel)]="usersClass.lastName" (input)="getlName(lastName.value,'lname')" required  #lastName>
            <p *ngIf="lname" style="color: red;">LastName is required</p>     

          </div>
          <div class="col-lg-6 col-6">
            <label for="sel1">DateOfBirth</label>
            <input type="date" class="form-control" name="DateOfBirth" [(ngModel)]="usersClass.dateOfBirth" required>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-6">
            <label>Address</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="usersClass.address">
          </div>
          <div class="col-lg-6 col-6">
            <label for="sel1">Marital Status</label>
            <ng-select  name="maritalStatus" [(ngModel)]="usersClass.maritalStatus">
              <ng-option value="Married">Married</ng-option>
              <ng-option value="Unmarried">Unmarried</ng-option>
            </ng-select>          
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-6">
            <label>Gender</label>
            <ng-select  name="gender" [(ngModel)]="usersClass.gender">
              <ng-option value="Male">Male</ng-option>
              <ng-option value="Female">Female</ng-option>
              <ng-option value="Other">Other</ng-option>

            </ng-select>
          </div>
          <div class="col-lg-4 col-4">
            <label for="sel1">Password</label>
            <input type="text" class="form-control" name="Password" [(ngModel)]="usersClass.empPassword">
          </div>
          <div class="col-lg-1 col-1">
            <label for="sel1">_</label>
            <button type="button"  class="btn" style="background-color: #A0A0A0;box-shadow: none;"
            (click)="generatePassword()">Generate</button>
           </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-6">
            <label>Email</label>
            <input type="text" class="form-control" name="EmailId" [(ngModel)]="usersClass.email">
          </div>
          <div class="col-lg-6 col-6">
            <label for="sel1">MobileNo</label>
            <input type="text" class="form-control" name="MobileNo" [(ngModel)]="usersClass.mobileNumber">
          </div>
        </div>
        <div class="row">

          <div class="col-lg-6 col-6">
            <label>Department</label>
            <input type="text" class="form-control" name="Department" [(ngModel)]="usersClass.dapartment">

          </div>
          <div class="col-lg-6 col-6">
            <label for="sel1">Designation</label>
            <input type="text" class="form-control" name="Designation" [(ngModel)]="usersClass.designation">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-6">
            <label>PanCardNumber</label>
            <input type="text" class="form-control" name="PanCardNumber" [(ngModel)]="usersClass.pancardNumber">
          </div>
          <div class="col-lg-6 col-6">
            <label>AadharCardNumber</label>
            <input type="text" class="form-control" name="AadharCardNumber" [(ngModel)]="usersClass.adharcardNumber">
          </div>
          <br>
          <div class="col-lg-6 col-6" *ngIf="!disableField">
            <label>Upload User Image</label>
            <input type="file">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="showSaveButton" class="btn" style="background-color: #A0A0A0;box-shadow: none;"
          (click)="saveContent()">Save</button>
        <button type="button" *ngIf="showupdateButton" class="btn" style="background-color: #A0A0A0;box-shadow: none;"
          (click)="updateContent()">Update</button>
       

        <button type="button" class="btn" style="background-color: #A0A0A0;box-shadow: none;" (click)="closePopUp()">
          Cancel
        </button>
      </div>


    </div>
  </div>
</div>

<div class="modal" id="createReportModal" [class.in]="showPopUpView" [class.show]="showPopUpView">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <div class="modal-header border">
              <h3 class="modal-title">View User </h3>
              
          </div>

       
      <div class="modal-body">
            
        <div class="table-responsive">
          <table class="table">               
                  <tr>
                    <th>EmployeeCode:</th>
                    <td>{{ViewContentById.empCode}}</td>

                  </tr>
                  <tr>
                    <th>FirstName:</th>
                    <td>{{ViewContentById.firstName}}</td>

                  </tr>
                  <tr>
                    <th>LastName:</th>
                    <td>{{ViewContentById.lastName}}</td>
                  </tr>
                  <tr>
                    <th>DateOfBirth:</th>
                    <td>{{ViewContentById.dateOfBirth | date}}</td>
                  </tr>
                  <tr>
                    <th>Gender:</th>
                    <td>{{ViewContentById.gender}}</td>
                  </tr>
                  <tr>
                    <th>EmployeePassword:</th>
                    <td>{{ViewContentById.empPassword}}</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>{{ViewContentById.email}}</td>
                  </tr>
                  <tr>
                    <th>MobileNumber:</th>
                    <td>{{ViewContentById.mobileNumber}}</td>
                  </tr>
                  <tr>
                    <th>Department:</th>
                    <td>{{ViewContentById.dapartment}}</td>

                  </tr>
                  <tr>
                    <th>Designation:</th>
                    <td>{{ViewContentById.designation}}</td>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <td>{{ViewContentById.address}}</td>
                  </tr>
                  <tr>
                    <th>MaritalStatus:</th>
                    <td>{{ViewContentById.maritalStatus}}</td>
                  </tr>
                  <tr>
                    <th>PanCardNumber:</th>
                    <td>{{ViewContentById.pancardNumber}}</td>
                  </tr>
                  <tr>
                    <th>AadharCardNumber:</th>
                    <td>{{ViewContentById.adharcardNumber}}</td>
                  </tr>
                  
              
          </table>
      </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #A0A0A0;box-shadow: none;" (click)="closePopUp()">
            Cancel
          </button>
        </div>

          
      </div>
  </div>
</div> 