<div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Users Asset List</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light"
          (click)="showPopUp()">Create
  
        </button>
  
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Users Asset List</li>
        </ol>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
  
          <div class="row">
            <div class="col-lg-3 col-3">
              <input type="text" class="form-control" placeholder="Search" name="Search" [(ngModel)]="searchText">
            </div>
          </div>
  
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Action</th>
                  <th >Sr.No</th>
                  <th >TagNumber</th>
                  <th>Condition</th>
                  <th>Description</th>
                  <th>AssignedTo</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let contents of allContents |  filter:searchText | paginate: { currentPage: p , itemsPerPage: itemsPerPage};let i=index">
                  <td>
                    <i class="fa fa-pencil" ></i>&nbsp;&nbsp;
                    <i class="glyphicon glyphicon-remove" (click)="deleteContent(contents.userAssetId,contents.id)"></i>&nbsp;&nbsp;
                    <!-- <i class="glyphicon glyphicon-eye-open" (click)="viewGetById(contents.userAssetId)"></i> -->
  
                  </td>
                  <!-- <td>{{i+1}}</td> -->
                  <td>{{ itemsPerPage * (p - 1) + i + 1}}</td>
                  <td>{{contents.tagNumber}}</td>
                  <td [innerHtml]="contents.assetCondition"></td>
                  <td [innerText]="contents.assetDescription"></td>
                  <td>{{contents.firstName+' '+contents.lastName+' '+'('+contents.empCode+')'}}</td>
  
                </tr>
              </tbody>
            </table>
  
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  
  </div>
<!-- /.container-fluid -->

